/* Estilo padrão para desktop */
.navBarComponent {
  width: 100%;
  background-color: rgb(252, 252, 252);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 85px;
  color: white;
}
.NavbarContent h2 {
  color: black;
  font-weight: 700;
  font-family: "Playfair Display", serif;

}
.NavbarContent .TitleAlign {
  display: flex;
  align-items: center;

}
.NavbarContent .TitleAlign img {
  width: 50px;
  height: 50px; 
  margin-left:10px ;
  margin-right: 10px;

}

.NavbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha verticalmente os itens no centro */
  max-width: 1800px;
  margin: auto;
}

.NavbarLinks {
  display: flex;
  list-style: none;
}

.NavbarLinks li {
  margin: 0 15px; /* Ajusta o espaçamento entre os itens */
}
.NavbarLinks li a:active {
  color: orange;
}
.NavbarLinks li a:hover {
  color: orange;
}
.NavbarLinks li a:active {
  color: orange;
}
.NavbarLinks li:hover {
  color: orange;
  border-bottom: 2px solid black;
}

.NavbarLinks li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
  color: black;
}

/* Esconde o botão de menu em telas maiores */
.menuToggle {
  display: none;
}
.offCanvasBody {
  width: 120px;

}

@media (max-width: 768px) {
  .NavbarLinks {
    display: none;
  }
  .offCanvasBody {
    width: 120px;

  }
  .navBarComponent {
    height: 70px;
    background-color: black;
    color: white;
  }
  .navBarComponent h2 {
    font-size: 20px;
    position: relative;
    font-family: "Oswald",sans-serif;
    color: rgba(217, 214, 214, 0.886);
    top: -5px;
    left: -25px;
 
  }
  .navBarComponent img {
    position: relative;
    top: -10px;
    left: -20px;
 
  }

  .menuToggle {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 700;
    margin-top: -20px;
    cursor: pointer;
    color: white;
  }
  .offcanvasTitle {
    background-color: transparent;
    font-family: "Playfair Display", serif;
    font-weight: 700;

    
  }
  .offcanvasTitle .TitleAlign {
    display: flex;
    
   
  }
  .offcanvasTitle .TitleAlign img {
    width: 50px;
    height: 50px;
    margin-top: -10px;
    position: relative;
    margin-left: 10px;
  }
  .menuOffCanvas {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 200px;
  }
  .menuOffCanvas li a {
    color: orange;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
  }
  .menuOffCanvas li {
    height: 30px;
  }
}
