.navBarComponent {
  width: 360px;
  background-color: rgb(255 210 126 );

  height: 35px;
  color: white;
  position: fixed;
  z-index: 1;
  top:0;
  box-shadow: 0px 2px 10px 0px rgb(106, 102, 102);
}
.navBarComponent ul {
  list-style: none;
  display: flex;
  margin: auto;
 
  
}
.navBarComponent ul li {
  list-style: none;
  display: inline-block;
  margin: 5px;
  position: relative;
  left: 0;
  height: 18px;
  padding-right: 5px;
  cursor: pointer;
}
.navBarComponent ul li:nth-child(1) {
  position: absolute;
  left: 0px;
}
.navBarComponent ul li a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.navBarComponent ul li a:hover {
  padding-bottom: 8px;
  color: rgb(220, 101, 4);
  font-weight: 600;
  border-bottom: 1px solid rgb(220, 101, 4);
}




