.navBarComponent {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.326);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 80px;
  color: white;

}
.navBarComponent h2 {
  background: linear-gradient(to right top, #896003, #9e7218, #b48529, #ca983a, #e1ac4a, #dc9f4d, #d69251, #cd8754, #9e5f49, #6a3d39, #372123, #000000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-family: "Poppins",sans-serif;
}
.navBarComponent div {

  width: 1420px;
  list-style: none;
  display: flex;
  color: black;

  margin: auto;
}
.navBarComponent ul li {
  list-style: none;
  display: inline-block;
  margin: 5px;
  position: relative;
  left: 0;
  height: 18px;
  padding-right: 5px;
  cursor: pointer;
}
.navBarComponent button {
  background-color: rgb(255 210 126 / 77%);

  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: none;
  margin-right: 10px;
  margin-top: 5px;
  color: rgb(218, 88, 7);
}

.navBarComponent ul li a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.navBarComponent ul li a:hover {
  padding-bottom: 8px;
  color: rgb(220, 101, 4);
  font-weight: 600;
  border-bottom: 1px solid rgb(220, 101, 4);
}
