.CarouselItem img{
    max-width: 412px;
    width: 100%;
    height: 380px;
    filter: contrast(1.2);
    margin: auto;
}.CarouselItem {
    max-width: 412px;
    width: 100%;
    height: 380px;
    display: flex;
    margin: auto;
}
.CarouselInner{
    max-width: 412px;
    width: 100%;
    height: 380px;
}.Carousel  span, button{
    display: none;
  
}

