.videoComponent {
  width: 100%;
  display: flex;
  border: 2px solid red;
  height: 720px;
  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center;
}
.videoComponent img {
  height: 720px;
  width: 1520px;

  filter: contrast(0.7);
}
.contentPresentation {
  background-image: radial-gradient(
    circle,
    #f9c67546,
    #c5886000,
    #86564900,
    #ffffff27,
    #00000053
  );
  position: relative;
  top: -720px;
  height: 720px;

  width: 1520px;
  border: 2px solid rgba(255, 0, 0, 0);
}
.contentPresentation h2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: 450px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;

  padding-left: 10px;
}
.contentPresentation p {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.contentParagraph {
  background-color: rgba(0, 0, 0, 0.442);
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  bottom: 0;
}
.contentPresentation button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  width: 120px;
  margin: auto;
  height: 50px;
}
.contentPresentation button:hover {
  background-color: rgb(255, 255, 255);
  color: orange;
}
