footer {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  background-color: white;
}
footer ul {
  font-size: 0.8rem;
  margin: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100%;
}
footer ul li {
  list-style: none;
}

.FooterLogo img {
  width: 60px;
}
.FooterLogo {
  margin: auto;
  width: 60px;
}
.FooterContact {
  width: 80%;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  footer ul li {
    font-size: 18px;
  }
}
