.AboutComponent {
  position: relative;
  z-index: 1;
  background-color: white;
  padding-top: 80px;
  height: auto;
  min-height: 100vh;
}

.AboutComponent button {
  display: block;
  border: none;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  max-width: 280px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  transition: 0.5s;
}

.AboutComponent button::after {
  content: "›";
  padding-left: 20px;
  font-size: 1.875rem;
  text-align: center;
}

.AboutComponent a {
  text-decoration: none;
}

.AboutComponent h1 {
  font-size: 2.2rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
  padding-bottom: 20px;
  margin: auto;
}

.About {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 60%;

  margin: auto;
}

.About h3 {
  font-size: 2.5rem;
  color: #c89846;
  text-align: center;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.AboutImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  width: 60%;
  padding: 5px;
  padding-top:50px;
  padding-bottom: 50px;
  margin: auto;
  border-radius: 10px;
  position: relative; /* Para controlar o posicionamento das molduras */
}

.AboutImages img {
  margin: 10px;
  width: 20%;
  height: auto;
  border-radius: 0px;
  box-shadow: 0px 5px 20px rgb(50, 50, 50);
  transition: 0.5s;
}

.AboutImages .MolduraRight {
  background-image: url("src/images/moldura-right.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  filter: drop-shadow(2px 2px 2px orange);
  position: absolute;
  z-index: -1;
  top: 10px;
  right: 10px; /* Ajustei para dentro da div AboutImages */
}

.AboutImages .MolduraLeft {
  background-image: url("src/images/moldura-left.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  filter: drop-shadow(2px 2px 2px orange);
  position: absolute;
  z-index: -1;
  bottom: 10px;
  left: 10px; /* Ajustei para dentro da div AboutImages */
}

.AboutImages img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.AboutContent p {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 0.1rem;
  font-weight: 100;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.About span {
  font-family: "Prata", serif;
  color: gray;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  margin-left: 10px;
}

.About .AboutPersonBox {
  width: 100%;
  max-width: 620px;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.About svg {
  margin-left: 10px;
  margin-top: 30px;
}

.person {
  width: 100px;
  border-radius: 360px;
  padding: 2px;
  border: 2px solid #f2b23a;
  filter: drop-shadow(10px 2px 10px #707070);
  filter: contrast(1);
}

@media (max-width: 768px) {
  .AboutComponent{
    height: 200vh;
  }
  .About {
    width: 80%;
    font-size: 12px;
  }.AboutContent p{
    font-size: 15px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-align: justify;
  }
  .AboutImages 
  .MolduraRight{
    width: 100px;
    height: 100px;
  }
  .AboutImages 
  .MolduraLeft{
    width: 100px;
    height: 100px;
  }

  .AboutComponent h1 {
    font-size: 1.75rem;
  }.AboutImages{
    width: 100%;
    padding: 5px;
    padding-top:50px;
    padding-bottom: 50px;

  }

  .AboutImages img {
    padding: 0;
    margin: 5px;
    width: 25%;
    max-width: 200px;
  }
}
