@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap");
.default {
  width: 360px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
}
h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;

  background: #ffd928;
  background: linear-gradient(to right, #9d8002 0%, #d44400 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: 0px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.CarouselVendor {
  display: flex;

  padding-top: 10px;
  height: 400px;

  margin: auto;
  margin-top: 40px;
  width: 100%;
  max-height:360px;
  justify-content: center;
}.CarouselVendor{

}.CarouselVendor .ProductBox {
  height: auto;
  display: flex;
  flex-direction: column;

  width: 200px;

  margin: auto;
  border-radius: 10px;
}
.ProductBox h3 {
  
  color: rgb(100, 100, 100);
  text-align: start;
  margin-top: 20px;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.ProductBox p {
  font-size: 12px;
 
  padding-left: 5px;
}
.ProductBox img {
  width: 200px;
  height: 180px;
  border-radius: 10px;
}

.CarouselVendor span {
  background-color: #afaeaa;

  border-radius: 20px;
}
