$carousel-height-mobile: 100vh;
$carousel-height-tablet: 80vh;
$carousel-height-desktop: 100vh;

$hero-width-mobile: 90%;
$hero-width-tablet: 80%;
$hero-width-desktop: 70%;

$hero-font-size-mobile: 35px;
$hero-font-size-tablet: 50px;
$hero-font-size-desktop: 80px;

$hero-text-font-size-mobile: 18px;
$hero-text-font-size-tablet: 24px;
$hero-text-font-size-desktop: 30px;

$button-font-size-mobile: 13px;
$button-font-size-tablet: 18px;
$button-font-size-desktop: 20px;

.CarouselHeader {
  height: $carousel-height-mobile;
  position: relative;
  overflow: hidden;


  .carousel-item {



 

    img {
      width: 100%;
      height: 100%;
      filter: brightness(0.5);
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
      
    }

    .svg-list {
      display: none;
    }
  }

  .carousel-control-prev,
  .carousel-control-next,
  .carousel-indicators {
    display: none;
  }

  .CarouselItem {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .hero {
      width: $hero-width-mobile;
      height: 350px;
      position: absolute;
   
      top: 20%;
      left: 5%;
      z-index: 1;
      
      padding: 10px;
      text-align: center;
      color: white;
    }

    .hero h2 {
      font-size: $hero-font-size-mobile;
      font-family: "Oswald", sans-serif;
      padding-bottom: 20px;
      text-align: start;

      a {
        transition: 1s;
        text-decoration: none;
        color: white;

        &:hover {
          text-shadow: 1px 1px 15px white;
        }
      }
    }

    .hero p {
      width: 100%;
      text-align: start;
      font-family: "Oswald", sans-serif;
      letter-spacing: 2px;
      padding-bottom: 20px;
      font-size: $hero-text-font-size-mobile;
    }

  }

  .Carousel {
    max-width: 1200px;
    margin: 0 auto;
  }
}

// Media query for tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .CarouselHeader {
    height: $carousel-height-tablet;
  }

  .CarouselItem .hero {
    width: $hero-width-tablet;
    top: 30%;
    left: 10%;
    padding: 20px;
  }

  .CarouselItem .hero h2 {
    font-size: $hero-font-size-tablet;
  }

  .CarouselItem .hero p {
    font-size: $hero-text-font-size-tablet;
  }


}

// Media query for desktops
@media (min-width: 1024px) {
  .CarouselHeader {
    height: $carousel-height-desktop;
  

  .CarouselItem .hero {
    width: $hero-width-desktop !important;
    height: 450px !important;
    top: 25% !important;
    left: 10%;
    padding: 50px;
  }

  .CarouselItem .hero h2 {
    font-size: $hero-font-size-desktop !important;
  }

  .CarouselItem .hero p {
    font-size: $hero-text-font-size-desktop;
  }

  }
}
