.bgDepoimentos {
  background-image: linear-gradient(to right top, #000000, #412a03, #ffcf83, #ffcd85, #5a3505); 

}

.container h1 {
  margin-bottom: 40px;
}
  .container {
    display: flex;
    flex-direction: column;
   height: 400px;
    padding: 32px;
    max-width: 1440px;
    gap: 2rem;
    margin: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;

    margin-bottom: 30px;
  }
  .card {
    background-color: rgb(255 217 188);
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    flex: 1;
    max-width: 300px;
    box-shadow: 0 4px 8px #523b1a;
    position: relative;
    margin-bottom: 32px;
  }
  
  
  
  
  .name {
    font-size: 15px;
    font-weight: bold;
    text-align: end;

    margin-top: 20px;
  }
  
  .testimonial {
    font-size: 15px;
    color: #000000;
    
    margin-bottom: 0;
    text-align: justify;
    margin-top: 65px;
  }
  
  
  @media (min-width: 768px){
    .container {
      max-width: 768px;
    }

    .cards {
      flex-direction: row;
    }

    .image {
      left: 30%;
    }
    .testimonial  {
      font-size: 12px;
    }
  }

  @media (min-width: 1024px){
    .container {
      max-width: 1024px;
    }
    .name {
      font-size: 22px;
    }
    .testimonial {
      font-size: 17px;
  }

  .image {
    left: 35%;
}
   }

   @media (min-width: 1420px){
    .container {
      max-width: 1420px;
    }
   }