@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.heroComponent {
  background-image: linear-gradient(to top, #4c4c4ce5, #3a3a3ad2, #282828d8, #181818a8, #00000000);
  height: 35px;
  width:360px;
  position: absolute;
  top: 0px;
  z-index: 1;
}  

.heroComponent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  padding-top: 50px;
  color: black;
}

.heroComponent div h1 {
  padding-top: 10px;
  width: 360px;
 filter: contrast(1.8);
  margin-top: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(to right, #efca84 10%, #8f4624 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: 0px 0px;
  font-weight: 700;
  font-size: 30px;
}

.heroComponent div p {
  font-size: 15px;
  width: 280px;
  filter: contrast(1.8);
  line-height: 25px;
  font-family: "Prata", sans-serif;
  text-align: center;
  margin-top: 20px;
  color: rgb(220, 220, 220);
  font-weight: 450;
}
.heroComponent button {
  display: block;
  background-color: #88331e;
  border: none;
  position: relative;
  margin-top: 150px;
  font-size: 12px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 150px;
  transition: 300ms ease;
}
.heroComponent button:hover {
  background-color: rgb(255, 252, 252);
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.heroComponent button:active {
  transform: scale(1.05);

  cursor: pointer;
}
