.ProductsComponent {
  position: relative;
  z-index: 1;
  height: 1000px;
  background-image: linear-gradient(
    115deg,
    #000000 0%,
    #000000 65%,
    hsl(0, 0%, 0%) 50%,
    hsl(0, 0%, 0%) 50%,
    hsl(0, 0%, 0%) 50%
  );
  width: 100%;
}
.ProductsComponent h1 {
  color: orange;
  text-align: center;
  font-size:  1.5rem;
  padding-top: 120px;
}

@media(min-width:768px){
  .ProductsComponent{
  background-image: linear-gradient(
    115deg,
    #000000 0%,
    #000000 65%,
    hsl(0, 0%, 0%) 50%,
    hsl(0, 0%, 0%) 50%,
    hsla(36, 100%, 48%, 0) 50%
  );
  }.ProductsComponent h1{
    font-size: 2.2rem;
  }
  
}



