.bg {
  background-color: white;
}


.container hr {
  border: 0;
  height: 2px;
  background-color: #000;
  margin-top: -10px;

}


.container p {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;

  padding: 32px;
  max-width: 1440px;
  gap: 2rem;
  margin: auto;
}

.description {
  font-size: 16px;
  color: black;
  margin-bottom: 16px;
  text-align: justify;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: auto;
}

.instagramIcon {
  width: 60px;
  height: 60px;
}

.ifooodIcon {
  color: red;
  font-size: 60px;
}

.menuIcon {
  color: #bb0000;
  font-size: 60px;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.socialsDiv {
  display: flex;
  flex-direction: row;
}

.card {

  border-radius: 8px;
  padding: 24px;
  text-align: justify;
  flex: 1;
  box-shadow: 0 1px 2px #0000002b;
  margin-bottom: 20px;
  background-image: linear-gradient(to right top, #ffab5f12, #cab8c836, #ffcbdea8, #ffb3a473, #ffab5f6b);
}

.card:hover {
  box-shadow: 0px 1px 2px 1px rgb(239 134 54 / 47%);
}


.order {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.cardTitle {
  font-size: 17px;
  font-weight: bold;
}

.cardDescription {
  font-size: 13px;
  color: black;
}

.imgPhone {
  display: none;
}

.feedbackSection {
  text-align: center;
}

.feedbackText {
  font-size: 16px;
  margin-bottom: 30px;
  color: #000000;
  text-align: justify;
}

.feedbackButton {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 25px;
}

.feedbackButton:hover {
  background-color: #ff3b30;
}


@media (min-width: 420px) {
  .container {
    max-width: 420px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .card {
    width: 300px;
    background-image: none;
    box-shadow: none;
  }

  .description {
    font-size: 17px;
    padding-left: 16px;
    padding-right: 16px;

  }

  .cardDescription {
    font-size: 16px;
  }

  .cardTitle {
    font-size: 18px;
  }

  .imgPhone {
    display: block;
  }

  .imgPhone img {
    width: 100%;
  }
  .feedbackText {
    text-align: center;
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .description {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;

  }

  .instagramIcon {
    width: 50px;
    height: 50px;
  }

  .ifooodIcon {
    font-size: 50px;
  }

  .menuIcon {
    font-size: 50px;
  }

  .order {
    margin-right: 30px;
  }

  .imgPhone img {
    width: 300px;
  }
  .feedbackText {
    font-size: 20px;
  }
}

@media (min-width: 1420px) {
  .container {
    max-width: 1420px;
  }

}