
.bg {

}


  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1440px;
    gap: 2rem;
    margin: auto;
  }
  .container h1{
   font-size: 20px;
  }
  
  
  .formContainer {
    flex: 1;
    box-shadow: 0 4px 8px #765422;
}
  
  .form {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  input {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1rem;
  }
  
  input:focus {
    border-bottom-color: black;
    outline: none;
  }
  
  
  input[type="button"] {
    background-color: black;
    color: white;
    padding: 5px 0 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin: auto;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .button:hover {
    background-color: #333;
  }
  

  .contactContainer {
    flex: 1;
  }
  

  
  .description {
    margin-bottom: 24px;
    color: black;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    color: black;
    margin-top: 10px;
  }
  
  .contactItem span {
      flex: 1rem;
  
  }
  .icon {
    font-size: 1.25rem;
  }
  
