.header{
    padding-top: 30px;
    max-width: 412px;
    width: 100%;


    margin: auto;
}
@media (min-width:1920px) {
    .header{
        max-width: 1920px;
     width: 100%;
    }.hero{
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }
}